body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  text-align: center;
}

.title {
  margin: 30px;
  font-size: 40px;
  color: #38bdf8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 20px;
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  background: #38bdf8;
  color: black;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
